<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Post Academic Jobs</title>
  </head>

  <body>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Hire, Right!</h1>
          <p>We are here to make academic recruiting easier. Academia Jobs will strive to attract qualified and diverse pool of candidates for your job postings.
          No need to create an account, just go ahead and post a job.</p>
          <p><a class="btn btn-primary btn-lg" href="#get-started" role="button">Get Started &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>A Hiring Network</h2>
            <p>You will be able to reach qualified candidates through online networks. Jobs are shared on the Google Jobs Network for a greater reach of qualified intellectuals</p>
          </div>
          <div class="col-md-4">
            <h2>Targeted Ads </h2>
            <p>Your job post is advertised to a targeted audience on platforms such as Facebook, Google and Instagram. This increases visibility to attract the right talents</p>
          </div>
          <div class="col-md-4">
            <h2>Longevity </h2>
            <p>You can have your job post on our portal for upto 90 days. We understand that the hiring process is mostly not a sprint. We are with you for the long haul</p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>


  </body>
</html>
