<head>
  <meta name="description" content="Discover academic jobs and opportunities worldwide. Academic recruiters can easily post jobs and hire intellectuals">
  <title>Academic Jobs and Positions. University Careers</title>
</head>

<br>
<div class="container">
  <div class="row">
    <%= render partial: "jobs/partials/index/job_filters" %>
    <div class="col-md-8">
      <%= render partial: "jobs/partials/index/jobs" %>
    </div>
  </div>
</div>


