<br>
<div class="container">
  <div class="row">
    <%= render partial: "jobs/partials/index/job_filters" %>
    <div class="col-md-8">
      <%= render partial: "jobs/partials/index/jobs" %>
    </div>
  </div>
</div>


