<p>Hi Recruiter</p>
<p>You have successfully posted the job <%= link_to @job.title, job_url(@job) %> for a total of €100 set to expire on <%= @job.application_deadline %></p>
<p>We will strive hard to make your job posting visible to qualified candidates</p>
<br>
<p>Job applicants will be redirected to this site <%= @job.job_application_url %> to apply for the job</p>
<br>
<p>We wish you the very best of luck</p>
