.footer h3,
a {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.layout-table {
  min-height: 100vh;
  width: 100%;
  table-layout: fixed;
}

.layout-table .layout-content-row {
  height: 100%;
}

.layout-content-column {
  height: 100%;
  vertical-align: top;
}


.footer {
  background-color: #FFFFFF;
  line-height: 36px;
  background-attachment: fixed;
  position: relative;
  line-height: 20px;
}

.footer .links {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 600;
  display: inline-block;

}

.footer .links ul>li {
  display: inline-block;
  padding-right: 20px;
}

.footer hr {
  border-color: #DDDDDD;
  border-width: 1px 0 0;
  margin-top: 5px;
  margin-bottom: 5px;
}


.footer-black .links ul a:not(.btn) {
  color: #ff7f50;
  display: block;
  font-size: 0.9em;
  margin-bottom: 3px;
}

.footer-black .links ul a:not(.btn):hover,
.footer-black .links ul a:not(.btn):focus {
  color: #167FFB;
}


.footer-black hr {
  border-color: #66615b;
}

.footer-big {
  padding: 30px 0;
}

.footer-big hr {
    margin-top: 20px;
}


@keyframes heathing {
  0% {
      transform: scale(0.75);
  }
  20% {
      transform: scale(1);
  }
  40% {
      transform: scale(0.75);
  }
  60% {
      transform: scale(1);
  }
  80% {
      transform: scale(0.75);
  }
  100% {
      transform: scale(0.75);
  }
}
